@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  color: #474747;
}

h1 {
  text-align: center;
  font-weight: 300;
}

.container {
  width: 1024px;
  margin: auto;
  background: rgba(0, 0, 0, 0.1);
}

#draggable {
  width: 150px;
  height: 150px;
  padding: 0.5em;
  background-color: white;
  border: 1px solid #ccc;
  cursor: move;
}
