body {
    background-image: url("../images/backround.jpg");
    background-size: cover; /* Зображення займає весь фон */
    background-position: center; /* Центрує зображення */
    background-repeat: no-repeat; /* Не повторює зображення */
    color: #000000;
    min-height: 100vh; /* Задає мінімальну висоту в 100% від вікна браузера */
    margin: 0;
    opacity: 0.9;
    font-family: 'Nunito', sans-serif;
    }
    header .block{
    background: rgb(34, 49, 34);
    }
    main .block{
    background: #23bc18;
    }
    footer .block{
    background: rgb(28, 36, 28);
    }
    .btn-custom {
    background-color: #007bff; /* Синій колір */
    color: white;
    }
    .btn-custom:hover {
    background-color: #0056b3; /* Темніший синій при наведенні */
    }
    #score {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    color: green;
    }
    #startButton {
    margin-top: 50px;
    }
    footer {
        color: #ffffff; /* Білий колір для тексту */
    }
    .card {
        border: 2px solid #ddd;
        transition: border 0.3s ease;
    }
    
    .card:hover {
        border: 2px solid #000; /* Робимо бордер жирнішим при наведенні */
    }